* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    font-size: 100px;
}

.box {
    width: 960px;
    padding: 50px;
    border: 1px solid lightgray;
    margin: 50px auto;
    background-color: cornsilk;
}